
@{
    ViewData["Title"] = "ConfirmEmail";
}
@{
    Layout = "_Layout";
}
<h1>ConfirmEmail</h1>

<div>
    <p>
        Thank you for confirming your email.
    </p>
    <a href="Login" class="registration_link">Увійти</a>
</div>
